
  .searchForm {
    height: 28px;
    font-size: 16px;
    padding: 13px 15px;
    border-radius: 4px;
    outline: none;
    margin:auto;
    max-width:300px
  }

  .searchInput{
    padding: 10px;
    font-size: 17px;
    border: 1px solid black;
    float: left;
    width: 80%;
    background: #f1f1f1;
  }

  .submitButton {
    float: left;
    width: 20%;
    padding: 10px;
    background: turquoise;
    color:  black;
    font-size: 17px;
    border: 1px solid black;
    border-left: none;
    cursor: pointer;
  }

  .getAllButton {
    float: left;
    width: 20%;
    padding: 10px;
    background: turquoise;
    color:  black;
    font-size: 17px;
    border-left: none;
    cursor: pointer;
    border: 1px solid black;
    float: left;
  }

  .buttonLocation {
    height: 28px;
    font-size: 16px;
    padding: 13px 15px;
    border-radius: 4px;
    outline: none;
    margin-left:auto;
    max-width:1000px
  }