
.rooms-list .room.active a {
    color: white;
}
.holder{
  position: fixed;
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
}

.input-holder {
  position: relative;
}

.input {
  height: 50px;
  font-size: 16px;
  padding: 13px 15px;
  border-radius: 4px;
  border: 1px solid grey;
  width: 300px;
  outline: none;
}

.input:focus {
  border-color: #17a2b8;
} 

  .body {
    background: #17a2b8!important;
    color: black;
    line-height: 1.6;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
}