/* .body {
    background: #17a2b8!important;
    color: black;
    line-height: 1.6;
    font-family: Lato,'Helvetica Neue',Arial,Helvetica,sans-serif;
} */

.pageBackground {
    min-height: 100vh;
    display: block;
    justify-content: center; 
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: goldenrod;
    background-size: cover;
    background-position: center center;
    padding: 15px;
}

/* .imageBackground {
    min-height: 10vh;
    display: block;
    justify-content: center; 
    align-items: center;
    font-family: 'Poppins', sans-serif;
    background-color: #17a2b8;
    background-size: cover;
    background-position: center center;
    padding: 15px;
} */


